.tiles{
    width : 18%;
    margin : 5px 1%;
    float : left;
    height : 200px;
    background-color : rgb(14, 121, 14);

}
#Start, #Reset {
    display : block;
    margin: 3px 0;
    

}